/* Hide some stuff */
.Footer,
.trends,
.wtf-module.has-content,
.home-tweet-box,
.enhanced-media-thumbnails,
.promoted-tweet,
.module[data-component-term^="profile_tweetbox"],
.bird-topbar-etched { 
  display: none !important; 
}

.profile-summary {
  border-radius: 0 0 6px 6px;
}

.mini-profile-stats-container .stats {
  border-radius: 0 0 5px 5px;
}
